{% extends 'base.html' %}       <!--extends 'base.html' to this page-->

{% block content %}
<style type="text/css">

    .profile_container{

        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }

</style>

<h1>{{user.username}}</h1>
<div class="profile_container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
         {% include 'base/feed_component.html' %}
    </div>

    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock %}
